*{
    padding:0%;
    margin: 0%;
}


.header-container{
    padding: 5px 60px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    height :60px;
    width: 60px;
}
.nav-con{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.nav-items{
    padding: 5px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

}
li {
    padding: 10px 20px;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
}

.header-container{
    background-color: rgb(196, 196, 196);
}

.body-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}
.search{
    font-size: 20px;
    padding: 20px;
}
.rest{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.card-con{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-decoration: none;
    max-width: 200px;
    padding: 20px;
}
.card-img{
    max-width: 200px;
    height: 200px;
}
.card-details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
        text-decoration:none;

}
.card-des{
    margin-top: 10px;
    font-size: 20px;
        text-decoration: none;

}
.card-con:hover{
    border: solid black 1px;
}
.card-des > p {
    padding: 5px 0px;
}

.menu-con{
    display: flex;
    flex-direction: column;
    padding:20px 40px;
    align-content: center;
    /* text-align: center;/ */
    margin: 0px 300px;
    /* background-color: aqua; */
}
.rest-details{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    padding: 10px;
    border: solid rgb(146, 145, 145) 1px;
    border-radius: 10px;
    max-width: 500px;
    background-color: rgb(236, 235, 235);
}
.cat{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.cat h4{

}
.rest-details p{
    padding-top: 10px;
}
.menu-card{
    display: flex;
    flex-direction: column;
    margin:5px 0px;
    padding: 10px;
    border-bottom: solid rgb(146, 145, 145) 1px;
    border-radius: 2px;
    max-width: 500px;
    background-color: rgb(243, 242, 242);
}
.menu-card p{
    padding-top: 10px;
}